<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Books Project</title>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/component.css">
</head>
<body>

<header class="hero">
  <div class="hero-inner">

    <div class="book-badge">
      <div class="card back"></div>
      <div class="card front">
        <span><%=totalBooks  %></span>
      </div>
    </div>

    <!-- Render hero conditionally -->
    <% if (locals.showHero) { %>
          <%- include('./hero') %>
    <% } %>

  </div>
</header>

<main class="container">